USE [master]
GO
/****** Object:  Database [BritishTime]    Script Date: 6.12.2022 19:26:38 ******/
CREATE DATABASE [BritishTime]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BritishTime', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BritishTime.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BritishTime_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BritishTime_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BritishTime].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BritishTime]
GO
/****** Object:  Table [dbo].[LessonsSet]    Script Date: 6.12.2022 19:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LessonsSet](
	[LessonNo] [int] IDENTITY(1,1) NOT NULL,
	[Speech] [nvarchar](max) NOT NULL,
	[BusinessEnglish] [nvarchar](max) NOT NULL,
	[YDSCourse] [nvarchar](max) NOT NULL,
	[ToeflCourse] [nvarchar](max) NOT NULL,
	[IeltsCourse] [nvarchar](max) NOT NULL,
	[StudentsStudentNo] [int] NOT NULL,
	[TeachersTeacherNo] [int] NOT NULL,
 CONSTRAINT [PK_LessonsSet] PRIMARY KEY CLUSTERED 
(
	[LessonNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffsSet]    Script Date: 6.12.2022 19:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffsSet](
	[StaffNo] [int] IDENTITY(1,1) NOT NULL,
	[StaffName] [nvarchar](max) NOT NULL,
	[StaffMail] [nvarchar](max) NOT NULL,
	[StaffPassword] [nvarchar](max) NOT NULL,
	[StaffPhone] [int] NOT NULL,
 CONSTRAINT [PK_StaffsSet] PRIMARY KEY CLUSTERED 
(
	[StaffNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentsSet]    Script Date: 6.12.2022 19:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentsSet](
	[StudentNo] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](max) NOT NULL,
	[StudentPhone] [nvarchar](max) NOT NULL,
	[StudentMail] [nvarchar](max) NOT NULL,
	[TeachersTeacherNo] [int] NOT NULL,
 CONSTRAINT [PK_StudentsSet] PRIMARY KEY CLUSTERED 
(
	[StudentNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeachersSet]    Script Date: 6.12.2022 19:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeachersSet](
	[TeacherNo] [int] IDENTITY(1,1) NOT NULL,
	[TeacherName] [nvarchar](max) NOT NULL,
	[TeacherPhone] [nvarchar](max) NOT NULL,
	[TeacherMail] [nvarchar](max) NOT NULL,
	[TeacherBranch] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TeachersSet] PRIMARY KEY CLUSTERED 
(
	[TeacherNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LessonsSet] ON 

INSERT [dbo].[LessonsSet] ([LessonNo], [Speech], [BusinessEnglish], [YDSCourse], [ToeflCourse], [IeltsCourse], [StudentsStudentNo], [TeachersTeacherNo]) VALUES (1, N'yes', N'yes', N'yes', N'yes', N'yes', 1, 1)
INSERT [dbo].[LessonsSet] ([LessonNo], [Speech], [BusinessEnglish], [YDSCourse], [ToeflCourse], [IeltsCourse], [StudentsStudentNo], [TeachersTeacherNo]) VALUES (2, N'yes', N'yes', N'yes', N'yes', N'yes', 1, 1)
INSERT [dbo].[LessonsSet] ([LessonNo], [Speech], [BusinessEnglish], [YDSCourse], [ToeflCourse], [IeltsCourse], [StudentsStudentNo], [TeachersTeacherNo]) VALUES (3, N'yes', N'yes', N'yes', N'yes', N'yes', 1, 1)
SET IDENTITY_INSERT [dbo].[LessonsSet] OFF
GO
SET IDENTITY_INSERT [dbo].[StaffsSet] ON 

INSERT [dbo].[StaffsSet] ([StaffNo], [StaffName], [StaffMail], [StaffPassword], [StaffPhone]) VALUES (1, N'Rabia', N'rsrey', N'123', 45678)
INSERT [dbo].[StaffsSet] ([StaffNo], [StaffName], [StaffMail], [StaffPassword], [StaffPhone]) VALUES (2, N'serife', N'dsgdfg', N'123', 714)
INSERT [dbo].[StaffsSet] ([StaffNo], [StaffName], [StaffMail], [StaffPassword], [StaffPhone]) VALUES (3, N'serife', N'gr', N'1234', 521)
SET IDENTITY_INSERT [dbo].[StaffsSet] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentsSet] ON 

INSERT [dbo].[StudentsSet] ([StudentNo], [StudentName], [StudentPhone], [StudentMail], [TeachersTeacherNo]) VALUES (1, N'erte', N'ret', N'rte', 1)
INSERT [dbo].[StudentsSet] ([StudentNo], [StudentName], [StudentPhone], [StudentMail], [TeachersTeacherNo]) VALUES (2, N'erte', N'ret', N'aaaaaa', 1)
INSERT [dbo].[StudentsSet] ([StudentNo], [StudentName], [StudentPhone], [StudentMail], [TeachersTeacherNo]) VALUES (4, N'eew', N'8578', N'cghg', 1)
SET IDENTITY_INSERT [dbo].[StudentsSet] OFF
GO
SET IDENTITY_INSERT [dbo].[TeachersSet] ON 

INSERT [dbo].[TeachersSet] ([TeacherNo], [TeacherName], [TeacherPhone], [TeacherMail], [TeacherBranch]) VALUES (1, N'Şerife', N'5687685', N'fgerg', N'BusinessEnglish')
INSERT [dbo].[TeachersSet] ([TeacherNo], [TeacherName], [TeacherPhone], [TeacherMail], [TeacherBranch]) VALUES (2, N'Şerife', N'5687685', N'fgerg', N'BusinessEnglish')
INSERT [dbo].[TeachersSet] ([TeacherNo], [TeacherName], [TeacherPhone], [TeacherMail], [TeacherBranch]) VALUES (3, N'Şerife', N'5687685', N'aaaaa', N'BusinessEnglish')
SET IDENTITY_INSERT [dbo].[TeachersSet] OFF
GO
/****** Object:  Index [IX_FK_StudentsLessons]    Script Date: 6.12.2022 19:26:38 ******/
CREATE NONCLUSTERED INDEX [IX_FK_StudentsLessons] ON [dbo].[LessonsSet]
(
	[StudentsStudentNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_TeachersLessons]    Script Date: 6.12.2022 19:26:38 ******/
CREATE NONCLUSTERED INDEX [IX_FK_TeachersLessons] ON [dbo].[LessonsSet]
(
	[TeachersTeacherNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_TeachersStudents]    Script Date: 6.12.2022 19:26:38 ******/
CREATE NONCLUSTERED INDEX [IX_FK_TeachersStudents] ON [dbo].[StudentsSet]
(
	[TeachersTeacherNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LessonsSet]  WITH CHECK ADD  CONSTRAINT [FK_StudentsLessons] FOREIGN KEY([StudentsStudentNo])
REFERENCES [dbo].[StudentsSet] ([StudentNo])
GO
ALTER TABLE [dbo].[LessonsSet] CHECK CONSTRAINT [FK_StudentsLessons]
GO
ALTER TABLE [dbo].[LessonsSet]  WITH CHECK ADD  CONSTRAINT [FK_TeachersLessons] FOREIGN KEY([TeachersTeacherNo])
REFERENCES [dbo].[TeachersSet] ([TeacherNo])
GO
ALTER TABLE [dbo].[LessonsSet] CHECK CONSTRAINT [FK_TeachersLessons]
GO
ALTER TABLE [dbo].[StudentsSet]  WITH CHECK ADD  CONSTRAINT [FK_TeachersStudents] FOREIGN KEY([TeachersTeacherNo])
REFERENCES [dbo].[TeachersSet] ([TeacherNo])
GO
ALTER TABLE [dbo].[StudentsSet] CHECK CONSTRAINT [FK_TeachersStudents]
GO
USE [master]
GO
